<!doctype html>
<html>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/static/style.css">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6750766645404903"
      crossorigin="anonymous"></script>
      <meta name="google-adsense-account" content="ca-pub-6750766645404903">
      {% block title %}{% endblock %}
    </head>
    <body>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <div class="sidenav">
            <a href="{% url 'index' %}"><img src="/static/logo-white-552x267.png" alt="logo" width="130" height="63"></a>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'contact' %}">Contact</a>
            <br/><script type="text/javascript">
                atOptions = {
                    'key' : 'dbe1b2e148d12dc1b1fc9cead0c7ea57',
                    'format' : 'iframe',
                    'height' : 300,
                    'width' : 160,
                    'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/dbe1b2e148d12dc1b1fc9cead0c7ea57/invoke.js"></scr' + 'ipt>');
            </script><a href="https://beta.publishers.adsterra.com/referral/Q1aMTQ5ugZ"><img alt="banner" src="https://landings-cdn.adsterratech.com/referralBanners/png/160%20x%2090%20px.png" /></a>
        </div>
        <div class="main">
            <h1>Simplex Solver</h1>
            {% block content %}{% endblock %}
            <div id="donate-button-container">
                    <div id="donate-button"></div>
                    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
                    <script>
                    PayPal.Donation.Button({
                    env:'production',
                    hosted_button_id:'2D85JLHN5DDXS',
                    image: {
                    src:'https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif',
                    alt:'Donate with PayPal button',
                    title:'PayPal - The safer, easier way to pay online!',
                    }
                    }).render('#donate-button');
                    </script>
                </div>
            {% block footer %}{% endblock %}
            <p style="font-size: small;">Copyright © NKYInt / Anthony Nkyi 2023-2024</p>
        </body>
        </div>
</html>
