{% extends 'base.html' %}
{% block title %}
    <title>Contact us</title>
{% endblock %}
{% block content %}
    <h2>Contact us</h2>
    <p>For any enquiries, please contact us by email at <a href="mailto:admin@simplexsolver.co.uk">admin@simplexsolver.co.uk</a>.</p>
    <p>Alternatively, you can send us a direct message on Twitter: <a href="https://twitter.com/messages/compose?recipient_id=3805104374&text=Hi"
        class="twitter-dm-button" data-screen-name="@kwakn5" data-size="large">
      Message Anthony</a></p>
{% endblock %}
