{% extends 'base.html' %}
{% block title %}
    <title>Privacy policy</title>
{% endblock %}
{% block content %}
    <h2>NKYInt Privacy policy</h2>
    <h3>Last updated: February 2024</h3>
    <p>At NKYInt, one of our main priorities is the privacy of our visitors. This Privacy Policy explains how we collect, use, disclose, and protect your personal information when you visit our website and use our services, which include but are not limited to Google Analytics, Google AdSense, and AWS (Amazon Web Services).</p>
    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us. 
        This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in NKYInt. This policy is not applicable to any information collected offline or via channels other than this website.</p>
    <h3>Consent</h3>
    <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
    <h3>Information we collect</h3>
    <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information. 
        Our website uses third-party services, including Google Analytics, Google AdSense, <a href="https://adsterra.com/privacy-policy-managed/">Adsterra</a>, and AWS. These services may have their own privacy policies, and we encourage you to review them.</p>
    <h3>Analytics</h3>
    <p>We may use Google Analytics and Adsterra to analyze trends, track user movements, and gather demographic information about our user base. This helps us improve our website and tailor our content to better meet the needs of our users.</p>
    <h3>Advertising</h3>
    <p>We may use Google AdSense and Adsterra to display personalized advertisements on our website. These ads are targeted based on your interests, as inferred from your online activities.</p>
    <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
    <!--p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p-->
    <h3>How we use your information</h3>
    <p>We use the information we collect in various ways, including to:</p>
    <ul>
        <li>Provide, operate, and maintain our website</li>
        <li>Improve, personalize, and expand our website</li>
        <li>Understand and analyze how you use our website</li>
        <li>Develop new products, services, features, and functionality</li>
        <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
    </ul>
    <h3>Security</h3>
    <p>We implement reasonable security measures to protect your personal information. However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.</p>
    <h3>Choices</h3>
    <p>You can choose not to provide us with certain information, but this may limit your ability to use certain features of our website.</p>
    <h3>Changes to the privacy policy</h3>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
    <h3>Contact details</h3>
    <p>If you have any questions about our Privacy Policy, please contact us by email at <a href="mailto:admin@simplexsolver.co.uk">admin@simplexsolver.co.uk</a>.</p>
{% endblock %}
