{% extends "base.html" %}
{% block title %}
    <title>Linear programming simplex solution</title>
{% endblock %}
{% block content %}
    <h2>Solution:</h2>
    <p>Given the objective is to <b>{{maxmin}} {{ objectivefunction}}</b>, <br/>and the constraints were:<br/>{% for i in constraints %}<b>{{forloop.counter}}: {{i}}</b><br/> {% endfor %}</p>
    <p>The optimal value is <b>{{ optimalvalue }}</b>, and the optimal solution is:<br/><b>{{final|safe}}</b>.</p>
    <p style="font-size: medium;"><i>where the s & a variables refer to surplus and artificial variables to their corresponding constraints, indicated by their number, respectively.</i></p>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6750766645404903"
        crossorigin="anonymous"></script>
{% endblock %}