.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
	text-align: center;
	}

.sidenav a {
	padding: 6px 6px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	}

.sidenav a:hover {
	color: #f1f1f1;
	}

.main {
	margin-left: 180px; /* Same as the width of the sidenav */
	}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	}
	
body { background-color: wheat;
	color: #818181;
	font: 24px Helvetica Neue, sans-serif;  
	/*line-height: 2.5;*/
	text-align: center;
	}
	
input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
	}

.banner1 {
	width: 160px;
    height: 600px; /* Adjust the height as per your requirement */
    background-color: #3498db; /* Set the background color of the banner */
    color: #fff; /* Set the text color */
    text-align: center;
    line-height: 100px; /* Center text vertically within the banner */
    /*top: 0;
    z-index: 1000;  Adjust the z-index as needed */
}